header{
    width: 100%;
    height: 7vh;
}

.menu{
    height: 100%;
    display: flex;
    justify-content: space-around;
    align-items: center;
}

#logo {
    height: 100%;
}

.menuItems {
    display: flex;
    width: 40%;
    list-style: none;
    justify-content: space-evenly;
    margin-left: 15%;
}

.menuItems ul{
    width: 100%;
}

input{
    width: 120px;
    height: 25px;
    border-radius: 5px;
    border: 2px solid #994e1b;
    padding: 0 10px;
}

input:focus{
    outline: none;
    border: 2px solid #D7AD16;
    box-shadow: 0 0 5px rgba(215, 173, 22, 0.5);
}

.search i{
    position: relative;
    right: 30px;
    top: 1px;
}

