@import url('../layout/header.css');
@import url('../componets/support.css');
@import url('../componets/button.css');
@import url('../layout/main.css');

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    line-height: 1.6;
}

.container {
    width: 85%;
    margin: 20px auto;
    margin-top: 5%;
    padding: 20px;
    background-color: #fff;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgb(153,78,27, 0.2);
}

h1, h2 {
    color: #333;
    text-align: center;
}

p {
    color: #666;
    font-size: 18px;
    margin-bottom: 20px;
    text-align: justify;
}

.team {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
}

.team-member {
    background-color: #f9f9f9;
    border: 1px solid #ddd;
    border-radius: 8px;
    width: 250px;
    margin: 10px;
    padding: 15px;
    text-align: center;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.team-member img {
    width: 100%;
    border-radius: 50%;
}

.team-member h3 {
    margin-top: 15px;
    color: #333;
}

.team-member p {
    font-size: 16px;
    color: #666;
}