@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100..900;1,100..900&family=Orelega+One&display=swap');
@import url('../components/support.css');
@import url('../layout/header.css');
@import url('../layout/main.css');
@import url('../components/button.css');

.imgOutback {
    width: 100%;
    margin-top: 5vh;
}

#imagemOutback {
    max-width: 90%;
}

.addressFavorites {
    margin-left: 5%;
    display: flex;
    flex-direction: column;
}

.titleOutback {
    display: flex;
}

.titleOutback img {
    margin-top: 10px;
    margin-left: 10px;
    width: 100px;
    height: 20px;
}

h5 {
    font-size: 30px;
    margin-bottom: 10px;
}

.address {
    display: flex;
    align-items: center;
}

.sizeAddressFavorites {
    width: 20px;
    height: 20px;
}

.addressGroup {
    margin-right: 10px;
}

.favoriteGroup {
    display: flex;
    align-items: center;
}


#favoriteButton {
    background-color: transparent;
    width: 20px;
    height: 20px;
    margin-right: 10px;
    cursor: pointer;
    border: none;
}

.informations {
    display: flex;
    justify-content: space-evenly;
    margin-top: 50px;
}

.infoGroups {
    height: 200px;
    width: 230px;
    box-shadow: 3px 3px 3px 3px rgb(153,78,27, 0.2);
    border: 2px solid rgb(153,78,27, 0.1);
    border-radius: 10px;
}

h4 {
    font-weight: 600;
    font-size: 20px;
    margin-left: 10px;
    margin-top: 10px;
    height: 44px;
}

.infoGroups p {
    margin-left: 10px;
    align-items: center;
    margin-top: 10px;
}

.infoGroups span {
    margin-left: 10px;
    display: block;
    margin-top: -20px;
}

.infoGroups ol {
    margin-left: 25px;
    font-size: 13px;
}

.infoGroups button {
    margin-left: 10px;
    width: 150px;
}

.infoGroups form {
    margin-left: 10px;
    font-size: 13px;
}

.infoGroups input {
    width: 100px;
    margin-bottom: 12px;
    border: solid 1px #994e1b;
}

.infoGroups #people {
    width: 50px;
}

.infoGroups #available {
    margin-left: 22px;
}


.marginRating {
    margin-top: 30px;
}

.containerRatings {
    width: 1020px;
    min-width: 80%;
    height: 300px;
    box-shadow: 3px 3px 3px 3px rgb(153,78,27, 0.2);
    border: 2px solid rgb(153,78,27, 0.1);
    border-radius: 10px;
}

#titleRating {
    display: flex;
    gap: 10px;
    margin-bottom: 15px;
    margin-left: 10px;
    margin-top: 10px;
}

h3 {
    font-size: 30px;
    margin-right: 10px;
}

#titleRating img {
    margin-top: 6px;
    width: 100px;
    height: 20px;
}

.ratings {
    display: flex;
    justify-content: space-around;
}

.rating {
    width: 300px;
    height: 100px;
    display: flex;
    gap: 5px;
}

.userImg {
    width: 30px;
    height: 30px;
}

.infoRating .nameRating {
    font-style: italic;
}

.infoRating span {
    color: #757575;
    font-size: 10px;
}

.infoRating .textRating {
    color: #121010;
}

.infoRating img {
    width: 80px;
    height: 15px;
}