@import url('../layout/header.css');
@import url('../componets/support.css');
@import url('../componets/button.css');
@import url('../layout/main.css');


.form{
    width: 100%;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    position: relative;
    z-index: 1;
}

.form::before{
    content: "";
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-image:url("../../imagens/background.jpeg") ;
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    filter: brightness(0.4);
    z-index: -1;
}

form {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
    border-radius: 10px;
    background-color: rgba(247, 247, 242, );
    height: 65%;
    width: 30%;
}

h1{
    background-color: transparent;
}

.group{
    display: inherit;
    flex-direction: inherit;
    justify-content: space-around;
    background-color: transparent;
    height: 38%;
    width: 90%;
}

.formGroup {
    display: flex;
    flex-direction: column;
    background-color: transparent;
}

.formGroup input{
    width: 100%;
    background-color: transparent;
}

.formGroup label{
    background-color: transparent;
    font-size: 0.8rem;
}

.button{
    background-color: transparent;
}

a{
    background-color: transparent;
    font-size: 0.8rem;
}

.supportButton{
    z-index: 1;
}
