@import url('../layout/header.css');
@import url('../components/support.css');
@import url('../components/button.css');
@import url('../layout/main.css');


.top{
    border: 2px solid green;
    width: 100%;
    height: 8vh;
    display: flex;
    align-items: center;
}

.name p{
    font-size: 0.7rem;
    margin-left: 5%;
}

.information{
    width: 100%;
    height: 70vh;
    border: 2px solid blue;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
}

.infos{
    display: flex;
    justify-content: space-around;
}

.info{
    display: flex;
    flex-direction: column;
    width: 45%;
}


input{
    width: 100%;
    height: 30px;
    background-color: #ececec;
    border: 2px solid #ebe6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

input:focus{
    width: 100%;
    height: 30px;
    background-color: #ececec;
    border: 2px solid #ebe6e6;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}