.supportButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B52b19;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
}

.supportButton:hover {
    background-color: #D7AD16;
}