.supportButton {
    position: fixed;
    bottom: 20px;
    right: 20px;
    background-color: #B52b19;
    color: white;
    padding: 10px 20px;
    border-radius: 50px;
    text-align: center;
}

.supportButton i{
    background-color: transparent;
    padding: 0;
    margin: 0;
    display: inline-block;
    color: white;
}

.supportButton:hover {
    background-color: #D7AD16;
}